<div class="header-menu-outside">
    <!--Меню категорий -->
    <div class="header-menu">
        <div class="header-menu-inside">
            <div class="catalog-menu">
                <div class="row catalog-menu__top">
                    <div class="container">
                        <div class="col-md-3 col-xs-12">
                            <ul class="catalog-menu__list">
                                <li><a href="#">Букинистическая книга</a></li>
                                <li><a href="#">Дом. Досуг. Семья. Хобби</a></li>
                                <li><a href="#">Естественные науки</a></li>
                                <li><a href="#">Книги детям</a></li>
                                <li><a href="#">Компьютеры. Программирование и Cети</a></li>
                                <li><a href="#">Медицина и здоровье Наука. Техника</a></li>
                                <li><a href="#">Нехудожественная литература</a></li>
                            </ul>
                        </div>
                        <div class="col-md-3 col-xs-12">
                            <ul class="catalog-menu__list">
                                <li><a href="#">Образование и учеба</a></li>
                                <li><a href="#">Психология</a></li>
                                <li><a href="#">Скетчбуки, Календари</a></li>
                                <li><a href="#">Художественная литература</a></li>
                                <li><a href="#">Эзотерика, Религия, Оккультизм</a></li>
                                <li><a href="#">Экономика, бизнес, финансы</a></li>
                                <li><a href="#"><b>Все категории</b></a></li>

                            </ul>
                        </div>
                        <div class="col-md-6 m-n-s">
                            <div class="right-banner">
                                <a href="#"><img src="img/catalog-banner.png" alt=""></a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="reccomends">
                    <!--<h2 class="h2 reccomends__title">Рекомендуем</h2>-->
                    <div class="container reccomends-container">
                        <div class="reccomends__item">
                            <div class="recomends__item-inside">
                                <div class="reccomends-picture">
                                    <img src="img/book-3.png" alt="">
                                    <div class="mask">
                                        <div class="basket is-active">
                                            <a href="#">
                                                <i class="icon icon-shop-but"></i>
                                            </a>
                                            <span class="add-to-basket">В корзину</span>
                                        </div>
                                        <div class="one-click">
                                            <span>Купить в 1 клик</span>
                                        </div>
                                    </div>
                                </div>
                                <div class="reccomends-text">
                                    <div class="name">
                                        <a href="#">Любовь. Секреты
                                            разморозки</a>

                                    </div>
                                    <div class="price">
                                        <span>249</span>грн
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="reccomends__item">
                            <div class="recomends__item-inside">
                                <div class="reccomends-picture">
                                    <img src="img/book-3.png" alt="">
                                    <div class="mask">
                                        <div class="basket is-active">
                                            <a href="#">
                                                <i class="icon icon-shop-but"></i>
                                            </a>
                                            <span class="add-to-basket">В корзину</span>
                                        </div>
                                        <div class="one-click">
                                            <span>Купить в 1 клик</span>
                                        </div>
                                    </div>
                                </div>
                                <div class="reccomends-text">
                                    <div class="name">
                                        <a href="#">Любовь. Секреты
                                            разморозки</a>
                                    </div>
                                    <div class="price">
                                        <span>249</span>грн
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="reccomends__item">
                            <div class="recomends__item-inside">
                                <div class="reccomends-picture">
                                    <img src="img/book-3.png" alt="">
                                    <div class="mask">
                                        <div class="basket is-active">
                                            <a href="#">
                                                <i class="icon icon-shop-but"></i>
                                            </a>
                                            <span class="add-to-basket">В корзину</span>
                                        </div>
                                        <div class="one-click">
                                            <span>Купить в 1 клик</span>
                                        </div>
                                    </div>
                                </div>
                                <div class="reccomends-text">
                                    <div class="name">
                                        <a href="#">Любовь. Секреты
                                            разморозки</a>
                                    </div>
                                    <div class="price">
                                        <span>249</span>грн
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="reccomends__item">
                            <div class="recomends__item-inside">
                                <div class="reccomends-picture">
                                    <img src="img/book-3.png" alt="">
                                    <div class="mask">
                                        <div class="basket is-active">
                                            <a href="#">
                                                <i class="icon icon-shop-but"></i>
                                            </a>
                                            <span class="add-to-basket">В корзину</span>
                                        </div>
                                        <div class="one-click">
                                            <span>Купить в 1 клик</span>
                                        </div>
                                    </div>
                                </div>
                                <div class="reccomends-text">
                                    <div class="name">
                                        <a href="#">Любовь. Секреты
                                            разморозки</a>
                                    </div>
                                    <div class="price">
                                        <span>249</span>грн
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="reccomends__item">
                            <div class="recomends__item-inside">
                                <div class="reccomends-picture">
                                    <img src="img/book-3.png" alt="">
                                    <div class="mask">
                                        <div class="basket is-active">
                                            <a href="#">
                                                <i class="icon icon-shop-but"></i>
                                            </a>
                                            <span class="add-to-basket">В корзину</span>
                                        </div>
                                        <div class="one-click">
                                            <span>Купить в 1 клик</span>
                                        </div>
                                    </div>
                                </div>
                                <div class="reccomends-text">
                                    <div class="name">
                                        <a href="#">Любовь. Секреты
                                            разморозки</a>
                                    </div>
                                    <div class="price">
                                        <span>249</span>грн
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
