<header class="header">
    <div class="header-top">
        <div class="container">
            <div class="header__left-block">
                <div class="header-logo">
                    <a href="javascript:;">
                        <img src="../img/logo.png" alt="">
                    </a>
                </div>
                <a id="js-open-menu" class="tr-button header-cat" href="#">
                    <i class="icon icon-button-burger"></i>
                    <span>Каталог</span>
                </a>
            </div>
            <div class="header__right-block">
                <nav class="header__menu">
                    <ul>
                        <li><a href="#">Оплата</a></li>
                        <li><a href="#">Доставка</a></li>
                        <li><a href="#">Контакты</a></li>
                    </ul>
                </nav>
                <div class="header__signup-panel">
                    <ul>
                        <li><a class="sign" href="#">Вход</a></li>
                        <li><a class="reg" href="#">Регистрация</a></li>
                    </ul>
                </div>
                <div class="basket is-active">
                    <a href="#">
                        <i class="icon icon-shop-but"></i>
                    </a>
                    <div class="basket-num">
                        <span>5</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="header-menu">
        <div class="header-menu-inside">
            <!--top!-->
            <div class="catalog-menu">
                    <div class="row catalog-menu__top">
                        <div class="container">
                        <div class="col-md-3">
                            <ul class="catalog-menu__list">
                                <li><a href="#">Букинистическая книга</a></li>
                                <li><a href="#">Дом. Досуг. Семья. Хобби</a></li>
                                <li><a href="#">Естественные науки</a></li>
                                <li><a href="#">Книги детям</a></li>
                                <li><a href="#">Компьютеры. Программирование и Cети</a></li>
                                <li><a href="#">Медицина и здоровье Наука. Техника</a></li>
                                <li><a href="#">Нехудожественная литература</a></li>
                            </ul>
                        </div>
                        <div class="col-md-3">
                            <ul class="catalog-menu__list">
                                <li><a href="#">Образование и учеба</a></li>
                                <li><a href="#">Психология</a></li>
                                <li><a href="#">Скетчбуки, Календари</a></li>
                                <li><a href="#">Художественная литература</a></li>
                                <li><a href="#">Эзотерика, Религия, Оккультизм</a></li>
                                <li><a href="#">Экономика, бизнес, финансы</a></li>
                                <li><a href="#">Все категории</a></li>

                            </ul>
                        </div>
                        <div class="col-md-6">
                            <div class="right-banner">
                                <a href="#"><img src="../img/catalog-banner.png" alt=""></a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="reccomends">
                    <h2 class="h2 reccomends__title">Рекомендуем</h2>
                    <div class="container reccomends-container">
                        <div class="reccomends__item">
                            <div class="reccomends-picture">
                                <img src="../img/book-3.png" alt="">
                            </div>
                                <div class="reccomends-text">
                                    <div class="name">
                                        Любовь. Секреты
                                        разморозки
                                    </div>
                                    <div class="price">
                                        <span>249</span>грн
                                    </div>
                                </div>
                        </div>

                        <div class="reccomends__item">
                            <div class="reccomends-picture">
                                <img src="../img/book-3.png" alt="">
                            </div>
                            <div class="reccomends-text">
                                <div class="name">
                                    Любовь. Секреты
                                    разморозки
                                </div>
                                <div class="price">
                                    <span>249</span>грн
                                </div>
                            </div>
                        </div>

                        <div class="reccomends__item">
                            <div class="reccomends-picture">
                                <img src="../img/book-3.png" alt="">
                            </div>
                            <div class="reccomends-text">
                                <div class="name">
                                    Любовь. Секреты
                                    разморозки
                                </div>
                                <div class="price">
                                    <span>249</span>грн
                                </div>
                            </div>
                        </div>

                        <div class="reccomends__item">
                            <div class="reccomends-picture">
                                <img src="../img/book-3.png" alt="">
                            </div>
                            <div class="reccomends-text">
                                <div class="name">
                                    Любовь. Секреты
                                    разморозки
                                </div>
                                <div class="price">
                                    <span>249</span>грн
                                </div>
                            </div>
                        </div>

                        <div class="reccomends__item">
                            <div class="reccomends-picture">
                                <img src="../img/book-3.png" alt="">
                            </div>
                            <div class="reccomends-text">
                                <div class="name">
                                    Любовь. Секреты
                                    разморозки
                                </div>
                                <div class="price">
                                    <span>249</span>грн
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="header__search">
        <h2 class="h2">Какую книгу вы ищите?</h2>
        <div class="search-block">
            <input class="prompt" type="text" placeholder="">
            <button class="search button">Найти</button>
        </div>
    </div>
</header>