<header class="header heaader--second">
    <div class="header-top">
        <div class="container">
            <div class="header__left-block">
                <div class="header-logo">
                    <a href="javascript:;">
                        <img src="img/logo.png" alt="">
                    </a>
                </div>
                <div id="js-open-menu" class="tr-button header-cat" >
                    <i class="icon icon-button-burger"></i>
                    <span>Каталог</span>
                    //=include catalog-menu.html
                </div>
                <div class="search">
                    <a href="#">
                        <i class="icon icon-search"></i>
                    </a>
                </div>
            </div>
            <div class="header__right-block">
                <nav class="header__menu">
                    <ul>
                        <li><a href="#">Оплата</a></li>
                        <li><a href="#">Доставка</a></li>
                        <li><a href="#">Контакты</a></li>
                    </ul>
                </nav>
                <div class="header__signup-panel">
                    <ul>
                        <li>
                            <a class="sign__user-name" href="#">Катерина</a>
                        </li>
                        <li>
                            <a href="#">
                                <img class="sign__user-image" src="../img/rewiev-1.jpg" alt="">
                            </a>
                        </li>
                    </ul>
                </div>
                <div class="basket is-active">
                    <a href="#">
                        <i class="icon icon-shop-but"></i>
                    </a>
                    <div class="basket-num">
                        <span>5</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</header>